.container-button {
  height: 200px;
  position: relative;
  border: 3px solid green;
}

.center-button {
  margin: 0;
  position: absolute;
  top: 10%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
